facebookTest.xcodeproj/project.xcworkspace/xcuserdata/vlad.xcuserdatad/UserInterfaceState.xcuserstate
facebookTest.xcodeproj/xcuserdata/vlad.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
Podfile.lock
facebookTest.xcworkspace/xcuserdata/vlad.xcuserdatad/UserInterfaceState.xcuserstate
